<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Trela.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchKitApp (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>WatchKitApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D34A98F1D37F8700072CABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8B49E81CE1688400E9AF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB717F51CCB11B000F2CBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB7180B1CCB11B000F2CBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB718161CCB11B000F2CBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBA581E1CF3F52100B3185F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBF40B01CE62A5B00E10E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DDF5AB71D425F56004B718B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DDF5AE11D425F88004B718B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
